
/*body{
    box-sizing: border-box;
    margin: o;
    padding: 0;
}*/

    
.col-md-2 h3, .col-md-8 h3{
    height: 400px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}